// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;
$grey-900: #23272a;

// Override Bootstrap color system

$orange: #bd5d38;

// Discord colors plate

$D1: #7289da;

// Override Bootstrap default state colors

$primary: $D1;
